/* bouton entrées*/

#button_entree{
    width: 200px;
    height: 200px;
    background-size: contain;
<<<<<<< HEAD
    background-image: url("git_hub/ico/ico_plate_entrees.png");
=======
    background-image: url("/images/ico/ico_plate_entrees.png");
>>>>>>> 3174cd2cb4586b9a2088624d2156f7ae296c38d0
    transition: 0.1s;
}

#button_entree:hover{
<<<<<<< HEAD
    background-image: url("git_hub/ico/ico_plate_entrees_b.png");
=======
    background-image: url("/images/ico/ico_plate_entrees_b.png");
>>>>>>> 3174cd2cb4586b9a2088624d2156f7ae296c38d0
}

/* bouton plats*/

#button_plats{
    width: 200px;
    height: 200px;
    background-size: contain;
<<<<<<< HEAD
    background-image: url("git_hub/ico/ico_plate_plats.png");
=======
    background-image: url("/images/ico/ico_plate_plats.png");
>>>>>>> 3174cd2cb4586b9a2088624d2156f7ae296c38d0
    transition: 0.1s;
}

#button_plats:hover{
<<<<<<< HEAD
    background-image: url("git_hub/ico/ico_plate_plats_b.png");
=======
    background-image: url("/images/ico/ico_plate_plats_b.png");
>>>>>>> 3174cd2cb4586b9a2088624d2156f7ae296c38d0
}

/* bouton dessert*/

#button_dessert{
    width: 200px;
    height: 200px;
    background-size: contain;
<<<<<<< HEAD
    background-image: url("git_hub/ico/ico_plate_desserts.png");
=======
    background-image: url("/images/ico/ico_plate_desserts.png");
>>>>>>> 3174cd2cb4586b9a2088624d2156f7ae296c38d0
    transition: 0.1s;
}

#button_dessert:hover{
<<<<<<< HEAD
    background-image: url("git_hub/ico/ico_plate_desserts_b.png");
=======
    background-image: url("/images/ico/ico_plate_desserts_b.png");
>>>>>>> 3174cd2cb4586b9a2088624d2156f7ae296c38d0
}

/* bouton boisson*/

#button_boissons{
    width: 200px;
    height: 200px;
    background-size: contain;
<<<<<<< HEAD
    background-image: url("git_hub/ico/ico_plate_boissons.png");
=======
    background-image: url("/images/ico/ico_plate_boissons.png");
>>>>>>> 3174cd2cb4586b9a2088624d2156f7ae296c38d0
    transition: 0.1s;
}

#button_boissons:hover{
<<<<<<< HEAD
    background-image: url("git_hub/ico/ico_plate_boissons_b.png");
=======
    background-image: url("/images/ico/ico_plate_boissons_b.png");
>>>>>>> 3174cd2cb4586b9a2088624d2156f7ae296c38d0
}