
/* */

body{
}

h1 {
  font-family: 'Holtwood One SC', serif;
}

h2 {
  font-family: 'Inter', sans-serif;
}

p {font-family: 'Quicksand', sans-serif;}


/* HEADER */

header {
    background-color:#03071E;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
    height: 187.5%;
}

#logo {
  width: 437.5%;
  height: 437.5%
}

#site-title {
    color: #FFBA08;
    font-family: oswald ;
    font-size: 75%;
}

.menu { 
  display: none;
    color: FFBA08 ;
}

#menu_ico {
  width: 312.5%;
  height: 312.5%;
}


/* FOOTER */
footer { 
  background-color : #03071E ;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 437.5%;

}

.footer-items{ 
color: #FFBA08;
font-family: oswald ;
margin: 0.5em;
}
