header {
    background-color: #03071E;
    display: flex;
    justify-content: space-between;
    padding: 0;
}

#logo {
    width: 8%;
    height: 8%;
}

#site-title {
    color: #FFBA08;
    font-family: Helvetica;
    font-size: 50px;
    text-align: center;
    display: flex;
    padding-top: 2%;
    padding-bottom: 2%;
}

#kitchen_top {
    width: 100%;
   
}
.menu {
    color: #FFBA08;
    padding:2%;
}
h2 {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 6em;  
    margin-top: 4em;
}
.element-content {
    display: flex;
    width: 100%;
 
}

.photogramme {
    justify-content: space-between;
    margin-left: 5%; 
}

.photogramme img{
    border-radius: 10%;
    max-width: 90%;

}

.box-title {
    padding: 6%;
    text-align: center;
    margin: 10%;
    display: flex;
}

.box-title p {
    background-color: #FFBA08;
    border-radius: 10%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;

}

#bottom-kitchen img {
    width: 100%;
    padding-top: 10%;
}

footer {
    margin-top: auto;
    text-align: center;
    color: #FFBA08;
    background-color: #03071E;
    padding-bottom: 8%;
    padding: 0%;
}